.card-container{
    border:1px solid black;
    background-color: red;
    width: 90%;
    margin:10px;
    display: inline-block;
    min-height: 300px;
    min-width: 280px;
    max-width: 300px;
    max-height: 200px;
}
.card-container img{
    margin:10px;
    width: 70%;
    max-height: 100px;
    max-width: 200px;
    
}
button{
    margin-bottom: 10px;
}